# Data Science Tools and Ecosystem

In this note book, Data science tools and ecosystem are summarized

**Objective**

* Python
* SQL
* R
* Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplotlib
4. TensorFlow

| Data Science Tools          |
| --------------------------- |
| Jupyter Notebook            |
| RStudio                     |
| VS Code with Python plugin  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In Python, you can perform various arithmetic operations to manipulate numeric values. The following examples illustrate basic arithmetic expressions:

1. Addition:

In [9]:
5+3

8

Subtraction

In [10]:
9-3

6

Multiplication

In [11]:
5*4

20

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

## Author

Bamidele David